<section class="products">
  <div class="products__container _container">
    <div class="products__title">Our Products</div>
    <div class="products__body">

      <!-- <div class="products__card product-card">
        <div class="product-card__image">
          <img src="./images/products/01.jpg" alt="card-image">
          <span class="product-card__discount">30%</span>
          <span class="product-card__status">New</span>
          <div class="product-card__backside">
            <button type="button" class="product-card__button button">Add to cart</button>
            <button type="button" class="product-card__button-share _icon-share">Share</button>
            <button type="button" class="product-card__button-like _icon-favorite">Like</button>
          </div>
        </div>
        <div class="product-card__footer">
          <h2 class="product-card__title">Syltherine</h2>
          <p class="product-card__subtitle">Stylish cafe chair</p>
          <div class="product-card__price">
            <span class="product-card__current-price">Rp 2.500.000</span>
            <span class="product-card__old-price">Rp 3.500.000</span>
          </div>
        </div>
      </div> -->
    </div>
    <button class="products__button button button_white" type="button">Show more</button>
  </div>
</section>