<section class="popup-settings _popup" data-popup-name="popup-settings">
    <div class="popup-settings__container _popup-contianer">
        <button class="popup-settings__close _popup-close _close-button"></button>
        <div class="popup-settings__avatar">
            <img class="popup-settings__avatar-image" src="/" aentrylt="avatar">
            <label class="popup-settings__upload" for="avatar-image"></label>
            <input class="popup-settings__upload-input" id="avatar-image" type="file">
        </div>
        <div class="popup-settings__intro">
            <h2 class="popup-settings__title">What do you want?</h2>
            <div class="popup-settings__box">
                <button type="button" class="popup-settings__intro-button button _popup-btn"
                    data-popup-name="popup-login">Sign-in</button>
                <button type="button" class="popup-settings__intro-button button button_white _popup-btn"
                    data-popup-name="popup-registration">Sign-up</button>
            </div>
        </div>
    </div>
</section>