<section class="intro">
  <div class="intro__container _container">
    <div class="intro__card-block">
      <div class="intro__card intro-card">
        <h2 class="intro-card__title">High-Quality Furniture Just For You</h2>
        <p class="intro-card__text">Our furniture is made from selected and best quality materials that are suitable for
          your dream home</p>
        <button class="intro-card__button button">Shop Now</button>
      </div>
    </div>
    <div class="intro__slider-block slider-block">
      <div class="slider-block__controls">
        <div class="slider-block__pagination swiper-pagination"></div>
        <div class="slider-block__arrows">
          <button class="slider-block__arrow-left swiper-button_left circle-button _icon-arrow-down"></button>
          <button class="slider-block__arrow-right swiper-button_right circle-button _icon-arrow-down"></button>
        </div>
      </div>
      <div class="slider-block__swiper">
        <div class="swiper-wrapper">
          <div class="slider-block__slide swiper-slide">
            <div class="slider-block__image">
              <img src="./images/main-slider/01.jpg" alt="slide_1">
            </div>
            <div class="slider-block__box blur-small-box" data-swiper-parallax="-200" data-swiper-parallax-opacity="0"
              data-swiper-parallax-duration="1000">
              <a class="blur-small-box__container">
                <h3 class="blur-small-box__title">Bohauss</h3>
                <p class="blur-small-box__text">Luxury big sofa 2-seat</p>
                <p class="blur-small-box__price _icon-arrow-link">Rp 17.000.000</p>
              </a>
            </div>
          </div>
          <div class="slider-block__slide swiper-slide">
            <div class="slider-block__image">
              <img src="./images/main-slider/02.jpg" alt="slide_1">
            </div>
            <div class="slider-block__box blur-small-box" data-swiper-parallax="-200" data-swiper-parallax-opacity="0"
              data-swiper-parallax-duration="1000">
              <a class="blur-small-box__container">
                <h3 class="blur-small-box__title">Bohauss</h3>
                <p class="blur-small-box__text">Luxury big sofa 2-seat</p>
                <p class="blur-small-box__price _icon-arrow-link">Rp 17.000.000</p>
              </a>
            </div>
          </div>
          <div class="slider-block__slide swiper-slide">
            <div class="slider-block__image">
              <img src="./images/main-slider/03.jpg" alt="slide_1">
            </div>
            <div class="slider-block__box blur-small-box" data-swiper-parallax="-200" data-swiper-parallax-opacity="0"
              data-swiper-parallax-duration="1000">
              <a class="blur-small-box__container">
                <h3 class="blur-small-box__title">Bohauss</h3>
                <p class="blur-small-box__text">Luxury big sofa 2-seat</p>
                <p class="blur-small-box__price _icon-arrow-link">Rp 17.000.000</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>