.blog {
    // .blog__container

    &__container {
        margin-top: 44px;
        margin-bottom: 44px;
    }

    // .blog__title

    &__title {
        font-style: normal;
        font-weight: bold;
        line-height: 120%;
        text-align: center;
        color: $textColor;
        @include adaptive-value("font-size", 40, 24, 1);
    }

    // .blog__slider

    &__slider {
        position: relative;
        @include adaptive-value(" margin-top", 32, 15, 1);
    }
}
.blog-slider {
    // .blog-slider__items

    &__items {
        overflow: hidden;
        padding-top: 1rem;
        padding-bottom: 1rem;
        @media (max-width: $s+px) {
            padding-left: 1rem;
            padding-right: 1rem;
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }

    // .blog-slider__card

    &__card {
        transition: box-shadow 0.4s;
    }
    &__card.swiper-slide-active {
        box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    }

    // .blog-slider__image

    &__image {
    }
    // .blog-slider__description
    &__description {
        padding: 1rem;
    }
    // .blog-slider__title

    &__title {
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        color: $textColor;
        @include adaptive-value("font-size", 24, 20, 1);
        @media (max-width: $s+px) {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }

    // .blog-slider__data

    &__data {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: $grayColor400;
        margin-top: 0.5rem;
    }

    // .blog-slider__arrows

    &__arrows {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 20;
        width: 100%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        @media (max-width: $xs+px) {
            display: none;
        }
    }

    // .blog-slider__arrow-left

    &__arrow-left {
        @media (min-width: $maxWidthContainer) {
            margin-left: -1rem;
        }
        pointer-events: auto;
    }

    // .blog-slider__arrow-right

    &__arrow-right {
        @media (min-width: $maxWidthContainer) {
            margin-right: -1rem;
        }
        pointer-events: auto;
    }

    // .blog-slider__pagination

    &__pagination {
        justify-content: center;
        @include adaptive-value("margin-top", 46, 15, 1);
    }
}
