<section class="blog">
  <div class="blog__container _container">
    <h2 class="blog__title">Tips & Tricks</h2>
    <div class="blog__slider blog-slider">

      <div class="blog-slider__items">
        <div class="swiper-wrapper">
          <div class="blog-slider__card swiper-slide">
            <div class="blog-slider__image">
              <img src="./images/tips/01.jpg" alt="slider-image">
            </div>
            <div class="blog-slider__description">
              <h3 class="blog-slider__title">How to create a living
                room to love</h3>
              <p class="blog-slider__data">10 jan 2020</p>
            </div>
          </div>

          <div class="blog-slider__card swiper-slide">
            <div class="blog-slider__image">
              <img src="./images/tips/02.jpg" alt="slider-image">
            </div>
            <div class="blog-slider__description">
              <h3 class="blog-slider__title">Solution for clean look working
                space</h3>
              <p class="blog-slider__data">10 jan 2020</p>
            </div>
          </div>

          <div class="blog-slider__card swiper-slide">
            <div class="blog-slider__image">
              <img src="./images/tips/03.jpg" alt="slider-image">
            </div>
            <div class="blog-slider__description">
              <h3 class="blog-slider__title">Make your cooking activity
                more fun with good setup</h3>
              <p class="blog-slider__data">10 jan 2020</p>
            </div>

          </div>
        </div>

      </div>
      <div class="blog-slider__arrows">
        <button
          class="blog-slider__arrow-left circle-button circle-button_white swiper-button_left _icon-arrow-down"></button>
        <button
          class="blog-slider__arrow-right circle-button circle-button_white swiper-button_right _icon-arrow-down"></button>
      </div>

    </div>
    <div class="blog-slider__pagination swiper-pagination"></div>
  </div>
</section>