<section class="gallary">
  <div class="gallary__container">
    <h3 class="gallary__subtitle">Share your setup with</h3>
    <h2 class="gallary__title">#FuniroFurniture</h2>
    <div class="gallary__slider _infinite-slider">
      <div class="swiper-wrapper">
        <div class="gallary__content swiper-slide">

          <div class="gallary__column">
            <div class="gallary__row _align-end">
              <div class="gallary__images">
                <img src="./images/furniture/01.jpg" alt="gallary-image">
              </div>
              <div class="gallary__images">
                <img src="./images/furniture/02.jpg" alt="gallary-image">
              </div>
            </div>
            <div class="gallary__row">
              <div class="gallary__images">
                <img src="./images/furniture/06.jpg" alt="gallary-image">
              </div>
              <div class="gallary__images">
                <img src="./images/furniture/07.jpg" alt="gallary-image">
              </div>
            </div>
          </div>
          <div class="gallary__column">
            <div class="gallary__images">
              <img src="./images/furniture/03.jpg" alt="gallary-image">
            </div>
          </div>
          <div class="gallary__column _justify-start">
            <div class="gallary__row _align-end">
              <div class="gallary__images">
                <img src="./images/furniture/04.jpg" alt="gallary-image">
              </div>
              <div class="gallary__images">
                <img src="./images/furniture/05.jpg" alt="gallary-image">
              </div>
            </div>
            <div class="gallary__row _align-start">
              <div class="gallary__images">
                <img src="./images/furniture/08.jpg" alt="gallary-image">
              </div>
              <div class="gallary__images">
                <img src="./images/furniture/09.jpg" alt="gallary-image">
              </div>
              <div class="gallary__images">
                <img src="./images/furniture/06.jpg" alt="gallary-image">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>