<section class="compilation">
    <div class="compilation__container _container">
        <div class="compilation__description">
            <h2 class="compilation__title">50+ Beautiful rooms inspiration</h2>
            <p class="compilation__text">Our designer already made a lot of beautiful prototipe of rooms that inspire
                you</p>
            <button class="compilation__button button">Explore More</button>
        </div>
        <div class="compilation__slider-container">
            <div class="compilation-slider">
                <div class="swiper-wrapper">

                    <div class="compilation-slider__slide swiper-slide">
                        <div class="compilation-slider__image">
                            <img src="../images/rooms/01.jpg" alt="slider-image">
                            <div class="compilation-slider__content" data-swiper-parallax="-200"
                                data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1000">
                                <div class="compilation-slider__description">
                                    <h4 class="compilation-slider__subtitle">01 — Bed Room</h4>
                                    <h3 class="compilation-slider__title">Inner Peace</h3>
                                </div>
                                <button class="compilation-slider__button button _icon-arrow-link"></button>
                            </div>
                        </div>
                    </div>

                    <div class="compilation-slider__slide swiper-slide">
                        <div class="compilation-slider__image">
                            <img src="../images/rooms/02.jpg" alt="slider-image">
                            <div class="compilation-slider__content" data-swiper-parallax="-200"
                                data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1000">
                                <div class="compilation-slider__description">
                                    <h4 class="compilation-slider__subtitle">01 — Bed Room</h4>
                                    <h3 class="compilation-slider__title">Inner Peace</h3>
                                </div>
                                <button class="compilation-slider__button button _icon-arrow-link"></button>
                            </div>
                        </div>
                    </div>

                    <div class="compilation-slider__slide swiper-slide">
                        <div class="compilation-slider__image">
                            <img src="../images/rooms/03.jpg" alt="slider-image">
                            <div class="compilation-slider__content" data-swiper-parallax="-200"
                                data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1000">
                                <div class="compilation-slider__description">
                                    <h4 class="compilation-slider__subtitle">01 — Bed Room</h4>
                                    <h3 class="compilation-slider__title">Inner Peace</h3>
                                </div>
                                <button class="compilation-slider__button button _icon-arrow-link"></button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>